{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>SkillY - About us</title>
<!--header-slider-area -->
<link rel="stylesheet" href="{% static 'assets/frontend/css/service.css' %}">
<div class="breadcrumb-area" style="background-image: url('static/assets/uploads/services/breadcrumb1619334343.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <p>    ABOUT US
</p>
                    <h2 class="page-title">    About Us
</h2>
                    <ul class="page-list">
                        <li><a href="/">Home </a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="eco-friendly-area margin-top-120 margin-bottom-120">
    <div class="container">
        <div class="eco-friendly-area-wrapper padding-top-60 padding-bottom-60">
            <div class="bg-img-02 about" style="background-image: url('static/assets/uploads/services/bg-right1618906912.jpg');"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="eco-content bg-white style-01">
                        <div class="section-title">
                            <div class="icon">
                                <i class="flaticon-paint-brush"></i>
                                <span class="line-three"></span>
                                <span class="line-four"></span>
                            </div>
                            <h3 class="title">Who we are?</h3>
                            <p>We're known for one thing everywhere we go excellent customer experiences. With our industry-leading guarantees and our unwavering.</p>
                        </div>
                        <div class="content style-01">
                            <ul>
                                                                    <li><i class="fas fa-check"></i> Experienced Team
</li> 
                                                                    <li><i class="fas fa-check"></i> Keep the same cleaner for every visit
</li> 
                                                                    <li><i class="fas fa-check"></i> One-off, weekly, or fortnightly visits</li> 
                                                            </ul>
                            <div class="available-item style-01">
                                <div class="icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="content">
                                    <span>We are 24/7 available</span>
                                    <p>8-800-10-500</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="progress-bar-area bg-image padding-bottom-295 padding-top-120" style="background-image: url('static/assets/uploads/services/01-min-21619273213.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title margin-bottom-40">
                    <div class="icon">
                        <i class="flaticon-paint-brush"></i>
                        <span class="line-three"></span>
                        <span class="line-four"></span>
                    </div>
                    <h3 class="title">Our achievements over the years as a dedicated cleaning service company</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <input type="number" id="count" value="3" hidden="">
                <div class="progress-item-wrapper">
                                        <input type="number" id="progress-val-0" value="80" hidden="">
                    <div class="progress-item">
                        <div class="single-progressbar">
                            <h4 class="subtitle">Service</h4>
                            <div class="progress-0"><div class="progressbar" style="width: 100%; background-color: rgb(200, 203, 212); border-radius: 0px;"><div class="proggress" style="background-color: rgb(20, 179, 228); height: 4px; border-radius: 0px; width: 80%;"></div><div class="percentCount">80%</div></div></div>
                        </div>
                    </div>
                                        <input type="number" id="progress-val-1" value="70" hidden="">
                    <div class="progress-item">
                        <div class="single-progressbar">
                            <h4 class="subtitle">Behaviour</h4>
                            <div class="progress-1"><div class="progressbar" style="width: 100%; background-color: rgb(200, 203, 212); border-radius: 0px;"><div class="proggress" style="background-color: rgb(20, 179, 228); height: 4px; border-radius: 0px; width: 70%;"></div><div class="percentCount">70%</div></div></div>
                        </div>
                    </div>
                                        <input type="number" id="progress-val-2" value="90" hidden="">
                    <div class="progress-item">
                        <div class="single-progressbar">
                            <h4 class="subtitle">Support</h4>
                            <div class="progress-2"><div class="progressbar" style="width: 100%; background-color: rgb(200, 203, 212); border-radius: 0px;"><div class="proggress" style="background-color: rgb(20, 179, 228); height: 4px; border-radius: 0px; width: 90%;"></div><div class="percentCount">90%</div></div></div>
                        </div>
                    </div>
                                    </div>
            </div>
        </div>
    </div>
</div>
<section class="why-choose-use-area padding-bottom-80">
    <div class="container">
        <div class="why-choose-use-area-wrapper m-top">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="choose-single-item margin-bottom-30 bg-image ">
            <div class="icon bg-image" style="background-image: url('static/assets/frontend/important/choose/01.png');">
                <i class="flaticon-online-service"></i>
            </div>
            <div class="content">
                <h4 class="title"><a href="/services">Tell us what you need</a></h4>
                <p>Let us know what service you are looking for. We offer more than 25 different home services, and we are here to help!</p>
            </div>
        </div>
    </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="choose-single-item margin-bottom-30 bg-image  active ">
            <div class="icon bg-image" style="background-image: url('static/assets/frontend/important/choose/01.png');">
                <i class="flaticon-right"></i>
            </div>
            <div class="content">
                <h4 class="title"><a href="/services">We will find the right professional</a></h4>
                <p>Book your service directly with us online, or request quotes from our service partners. All our partners are licensed, vetted and reviewed by our users.</p>
            </div>
        </div>
    </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="choose-single-item margin-bottom-30 bg-image ">
            <div class="icon bg-image" style="background-image: url('static/assets/frontend/important/choose/01.png');">
                <i class="flaticon-admin"></i>
            </div>
            <div class="content">
                <h4 class="title"><a href="/services">Sit back and relax</a></h4>
                <p>Let our professionals do the work while you focus on doing what you love. Our contact center is open 7 days a week to help you along the way.</p>
            </div>
        </div>
    </div>
             
            </div>
        </div>
    </div>
</section>
<section class="creative-team-area  padding-bottom-20 ">
    <div class="container">
    </div>
</section>
<div class="counterup-area padding-top-180 padding-bottom-10">     <div class="container">
    <div class="counterup-wrapper m-top bg-liteblue ">
        <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-counterup-01 ">
                        <div class="icon">
                            <i class="flaticon-handwash"></i>
                        </div>
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">20</span>k+</div>
                            <h4 class="title">Worldwide Clients</h4>
                        </div>
                    </div>
                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-counterup-01 ">
                        <div class="icon">
                            <i class="flaticon-wipe"></i>
                        </div>
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">7,079</span>+</div>
                            <h4 class="title">Store Clients Products</h4>
                        </div>
                    </div>
                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-counterup-01 ">
                        <div class="icon">
                            <i class="flaticon-dust-pan-1"></i>
                        </div>
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">1043</span>+</div>
                            <h4 class="title">Total Km Reach So Far</h4>
                        </div>
                    </div>
                </div>
                        </div>
    </div>
</div>
</div>
<section class="testimonial-area bg-image padding-top-20 ">
    <div class="google-reviews padding-bottom-25">
        <div class="container">
            <div class="row" id="google-revies-id">
                <div class="col-md-3  pb-5 pb-md-0 border">
                    <div class="google-revies-pic justify-content-center p-3 text-align-center ">
                        <img class="img-fluid" src="/static/assets/frontend/images/google-reviews-img.png" alt="">
                    </div>
                </div>
                <div class=" col-md-6 pb-2 pb-md-0 border">
                    <div class="reveiews p-3 justify-content-center text-align-center">
                        <h6>What do customers say about Skilly Services?</h6>
                        <p>Skilly Services has been rated 4.4 out of 5 based on 1628 reviews as of October 2021.</p>
                    </div>
                </div>
                <div class="col-md-3 border">
                    <div class="link-reviews p-2 justify-content-center text-align-center">
                        <a href="/about">
                            <h6>Read Customer Reviews <span><i class="fa fa-arrow-right"></i></span></h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>




{% include  'footer.html' %}

{% endblock %}